<!-- cart/cart.html -->

{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

{% comment %} <html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
	
	</style>
</head>

<body> {% endcomment %}

	<h1>Your Shopping Cart</h1>

	<div class="product-list">


	{% for item in cart_items %}
	<div class="product-item">
		<p>{{ item.product.name }} ({{ item.quantity }})</p>
		<p>Price: {{ item.product.price }}</p>
		<a href="{% url 'cart:remove_from_cart' item.id %}">Remove</a>
	</div>
	{% empty %}
	<p>Your cart is empty.</p>
	{% endfor %}

	</div>

	<p>Total Price: {{ total_price }}</p>
    <p>Total Quantity: {{ total_quantity}}</p>
	<li><a href="{% url 'store:store_items' %}">Continue Shopping</a></li>

{% comment %} </body>

</html> {% endcomment %}

{% endblock %}