{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
        <br><br><br><br>
        <div class="container">
            <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      <p class="card-text"> 💰 Price: {{product.price|intcomma}} Toman</p>
                      <p class="card-text">available Quantity: {{product.available_quantity}}</p>
                      <br>
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'cart:add_to_cart' product.id %}">Add to cart</a></div>
                      <br><br><br>
                      <a class="nav-link active" aria-current="page" href="{% url 'store:store_items' %}">Back to home 🔙</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>  
                 
        <br><br>

        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
              <div class="card-body p-4">
                 <form method='post' action="{% url 'store:product_items' pk=product.id %}">{{form.as_p}}
                   {% csrf_token %}
                  <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Post Comment</button>
                  </div>

                 </form> 
                <!-- Display messages -->
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h5>{{comments|length}} comments</h5>
            
                {% for comment in comments %}
                <div class="card mb-4">
                  <div class="card-body">
                    <p>{{comment.message}}</p>
        
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="25"
                          height="25" />
                        <p class="small mb-0 ms-2">{{comment.name}}</p>
                      </div>
                      <div class="d-flex flex-row align-items-center text-body">
                        {% comment %} <p class="small mb-0">{{comment.created_date|date:"d M Y"}}</p> {% endcomment %}
                        <p class="small mb-0">{{comment.created_date}}</p>
                        <i class="fas fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem;"></i>
                    
                      </div>
                    </div>
                  </div>
                </div> 
                {% empty %} 
                <p>No comments here!</p>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
         <br><br>
{% endblock %}
